/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

.imageFill{
   position: fixed;
   top:0;
   bottom:0;
   left:0;
   right:0;
   max-width: 100%;
   max-height: 100%;
   margin:auto;
   overflow:auto;
}
*/
#bground {
background-image:url("../img/Water.png");
background-color:lightskyblue;
background-repeat:no-repeat; 
background-position: center center; 
background-attachment: fixed;
background-size:cover;
-moz-background-size: cover;
-webkit-background-size:cover;
-o-background-size:cover;
}

#bg{
   height:200px;
   background-color:#33ffcc;
   background-image:linear-gradient(red,green,greenyellow);
}